In [1]:
print('Hello world')

Hello world

In [2]:
"""This is python"""

'This is python'

In [3]:
print("Welcome to python")

Welcome to python

In [4]:
print('Python's world')

SyntaxError: invalid syntax (<ipython-input-4-98b624cce3c5>, line 1)

In [5]:
print("Python's world")

Python's world

In [6]:
print("Hello \t world")

Hello 	 world

In [7]:
print("Hello\nworld")

Hello
world

In [8]:
print('Python\'s world')

Python's world

In [9]:
name='DP'
marks=90.167
age=22

print("The name of person is", name, "marks is", marks, "age is", age)

The name of person is DP marks is 90.167 age is 22

In [10]:
print("The name of person is %s marks is %.2f age is %d"%(name,marks,age))

The name of person is DP marks is 90.17 age is 22

In [11]:
print(f"The name of person is {name} marks is {marks} age is {age}")

The name of person is DP marks is 90.167 age is 22

In [12]:
a=20
b=30
a+b

50

In [13]:
a=20
b=40
a//b

0

In [14]:
20/3

6.666666666666667

In [15]:
20//3

6

In [16]:
a=30
b=20
a==b

False

In [17]:
a=10
b=10
a==b

True

In [18]:
a=40
b=20
a<b

False

In [19]:
a=40
b=20
a>b

True

In [20]:
a=10
b=35
c=50
b<=c

True

In [21]:
a=10
b=35
c=50
b>=a

True

In [22]:
0>5 and 10>M

False

In [23]:
0<5 and 10<M

NameError: name 'M' is not defined

In [24]:
str1 =  "pythonprogramming"
"m" in str1

True

In [25]:
str1 =  "pythonprogramming"
"f" not in str1

True

In [26]:
a=30
b=30
a==b
a is b

True

In [27]:
x=2.5
y=2.5
x==y

True

In [28]:
x is y

False

In [29]:
bin(x)

TypeError: 'float' object cannot be interpreted as an integer

In [30]:
id(x)

77901392

In [31]:
id(y)

77900144

In [32]:
20+20/40*4

22.0